<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width">
	<meta name="format-detection" content="telephone=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>解读上海市大数据发展实施意见</title>
	<link rel="stylesheet" href="../css/index.css">
</head>
<body>
<div id="wrapper">
	<div id="container">
		<section class="page page1" id="1">
			<div class="wrapper animated fi">
				<div class="page1-title">
					<p class="clearfix title"><em class="animated bid"></em><em class="animated bid"></em></p>
					<em class="subtitle animated bid"></em>
				</div>
				<article class="animated fid">
					<em class="icon animated bi"></em>
					<span class="animated fi">
						为贯彻落实《国务院关于深化制造业与互联网融合发展的指导意见》,协同推进“中国制造2025”和“互联网+”行动,
						积极培育新模式新业态，打造新型制造体系，促进制造业转型升级，推进供给侧结构性改革，提升上海产业竞争力.
					</span>
				</article>
			</div>
			<em class="icon-1 animated infinite pl"></em>
			<em class="icon-2 animated infinite pl"></em>
			<em class="icon-3 animated fi"><em class="animated infinite pl"></em></em>
		</section>
		<section class="page page2" id="2">
			<span class="before animated fi"></span>
			<span class="after animated fi"></span>
			<div class="section-title style animated bil"><div class="wrapper"><i class="animated bil"></i><p class="title animated fi">指导思想</p></div></div>
			<div class="section-content">
				<ul class="animated bid">
					<li class="title">四个中心</li>
					<li class="txt animated fid">以激发制造企业创新活力、发展潜力和转型动力为主线</li>
					<li class="txt animated fid">以提升制造业数字化、网络化、智能化为目标</li>
					<li class="txt animated fid">以互联网产业为支撑</li>
					<li class="txt animated fid">以信息安全为保障</li>
				</ul>
				<ul class="animated bid">
					<li class="title">总体思路</li>
					<li class="txt animated fid">通过打造制造业“双创”服务平台</li>
					<li class="txt animated fid">构建“双创”服务体系</li>
					<li class="txt animated fid">推动企业与跨界融合</li>
				</ul>
			</div>
		</section>
		<section class="page page4" id="3">
			<span class="before animated fi"></span>
			<span class="after animated fi"></span>
			<div class="section-title style animated bil"><div class="wrapper"><i class="animated bil"></i><p class="title animated fi">《发展目标》</p></div></div>
			<div class="section-content animated fi">
				<p class="top animated bi">中期目标<em class="animated bi"></em></p>
				<p class="title animated fix"><span>到2020年</span></p>
				<p class="content animated fi">上海制造业与互联网融合进一步深化，互联网“双创”成为制造业转型发展的新引擎，新模式、新业态成为经济发展新动能，跨界融合的制造业新生态初步形成，制造业数字化、网络化、智能化水平明显提升，两化融合发展综合水平指数保持国内领先水平</p>
			</div>
		</section>
		<section class="page page4" id="4">
			<span class="before animated fi"></span>
			<span class="after animated fi"></span>
			<div class="section-title style animated bil"><div class="wrapper"><i class="animated bil"></i><p class="title animated fi">《发展目标》</p></div></div>
			<div class="section-content animated fi">
				<p class="top animated bi">具体目标<em class="animated bi"></em></p>
				<p class="content animated fi">
					重点打造10个具有较为完善支撑服务体系的制造业互联网“双创”平台,提升重点企业互联互通、大数据运用、跨企业协同和组织创新等互联网化水平
				</p>
			</div>
		</section>
		<section class="page page4" id="5">
			<span class="before animated fi"></span>
			<span class="after animated fi"></span>
			<div class="section-title style animated bil"><div class="wrapper"><i class="animated bil"></i><p class="title animated fi">《发展目标》</p></div></div>
			<div class="section-content animated fi">
				<p class="top animated bi">长期目标<em class="animated bi"></em></p>
				<p class="title animated fix"><span>到2025年</span></p>
				<p class="content animated fi">制造业与互联网融合发展迈上新台阶，融合发展新模式在重点产业广泛普及，融合发展生态体系日趋健全，制造业竞争力大幅提升，成为国家两化深度融合示范区和全球先进“智造”高地。</p>
			</div>
		</section>
		<!------------------------------------ 主要任务 -------------------------------------->
		<section class="page page11" id="6">
			<span class="before animated fi"></span>
			<span class="after animated fi"></span>
			<div class="section-title style animated bil"><div class="wrapper"><i class="animated bil"></i><p class="title animated fi">主要任务</p></div></div>
			<div class="section-content">
				<ul class="animated bil">
					<li class="title"><em>1</em>打造“双创”服务平台</li>
					<li class="txt animated fi">鼓励大型企业搭建创新平台,奖励产业生态环境</li>
					<li class="txt animated fi">利用园区构建服务平台,提升中小企业供给能力</li>
				</ul>
				<ul class="animated bir">
					<li class="title"><em>2</em>构建"双创"服务体系</li>
					<li class="txt animated fi">支持大型基础电信企业在产业园区的建设力度</li>
					<li class="txt animated fi">推动建设以大型互联网企业为核心的综合性公共服务平台</li>
					<li class="txt animated fi">开展工业云创新服务试点，整合新型设计和生产资源及创新成果</li>
				</ul>
			</div>
		</section>
		<section class="page page12" id="7">
			<span class="before animated fi"></span>
			<span class="after animated fi"></span>
			<div class="section-title style animated bil"><div class="wrapper"><i class="animated bil"></i><p class="title animated fi">主要任务</p></div></div>
			<div class="section-content">
				<ul class="animated bil">
					<li class="title"><em>3</em>推动企业跨界融合</li>
					<li class="txt animated fi">支持制造企业与互联网企业发挥各自优势</li>
					<li class="txt animated fi">支持制造企业与互联网企业开展合资并购等领域合作</li>
					<li class="txt animated fi">鼓励中小制造企业利用制造资源与工业云平台等进行对接,实现制造能力的在线发布、协同和交易</li>
				</ul>
				<ul class="animated bil">
					<li class="title"><em>4</em>培育融合新模式</li>
					<li class="txt animated fi">智能化生产</li>
					<li class="txt animated fi">网络化协同</li>
					<li class="txt animated fi">个性化定制</li>
					<li class="txt animated fi">服务化延伸</li>
				</ul>
			</div>
		</section>
		<section class="page page11" id="8">
			<span class="before animated fi"></span>
			<span class="after animated fi"></span>
			<div class="section-title style animated bil"><div class="wrapper"><i class="animated bil"></i><p class="title animated fi">主要任务</p></div></div>
			<div class="section-content">
				<ul class="animated bil">
					<li class="title"><em>5</em>提升综合集成能力</li>
					<li class="txt animated fi">鼓励企业以延伸服务与提升价值为重点，大力发展总集成总承包服务</li>
					<li class="txt animated fi">推动系统解决方案服务专业化、市场化与规模化</li>
					<li class="txt animated fi">大力开展综合性解决方案的研发、试点应用与推广，不断完善面向企业间互联协同综合解决方案</li>
				</ul>
				<ul class="animated bir">
					<li class="title"><em>6</em>夯实融合发展基础</li>
					<li class="txt animated fi">推进传感器等研发及应用,加快工业软件的产业化</li>
					<li class="txt animated fi">统筹全市工业互联网基础设施建设规划与布局</li>
					<li class="txt animated fi">加强大数据平台等应用基础设施的监管和规划</li>
				</ul>
			</div>
		</section>
		<section class="page page12" id="9">
			<span class="before animated fi"></span>
			<span class="after animated fi"></span>
			<div class="section-title style animated bil"><div class="wrapper"><i class="animated bil"></i><p class="title animated fi">主要任务</p></div></div>
			<div class="section-content">
				<ul class="animated bil">
					<li class="title"><em>7</em>提高工控安全水平</li>
					<li class="txt animated fi">加强制造业与互联网融合信息安全保障的监督和指导</li>
					<li class="txt animated fi">着力提升重点领域制造业与互联网融合安全保障能力</li>
				</ul>
				<ul class="animated bil">
					<li class="title"><em>8</em>加强融合标准引领</li>
					<li class="txt animated fi">广泛开展两化融合评估诊断与对标引导</li>
					<li class="txt animated fi">加速制造业向高端化、智能化、绿色化、服务化转型发展</li>
				</ul>
			</div>
		</section>
		<!----------------------------------------   保障措施   ---------------------------------------->
		<section class="page page11" id="10">
			<span class="before animated fi"></span>
			<span class="after animated fi"></span>
			<div class="section-title style animated bil"><div class="wrapper"><i class="animated bil"></i><p class="title animated fi">保障措施</p></div></div>
			<div class="section-content">
				<ul class="animated bil">
					<li class="title"><em>1</em>强化组织保障</li>
					<li class="txt animated fi">协调机制,明确职责分工</li>
					<li class="txt animated fi">充分发挥各行业力量推进互联网行业发展</li>
				</ul>
				<ul class="animated bir">
					<li class="title"><em>2</em>加大政策引导</li>
					<li class="txt animated fi">整合、优化和发挥好产业转型升级</li>
					<li class="txt animated fi">将制造业与互联网融合纳入各类市级产业基金投资范围</li>
					<li class="txt animated fi">鼓励国家级功能性服务平台落户上海</li>
				</ul>
				<ul class="animated bil">
					<li class="title"><em>3</em>完善标准体系</li>
					<li class="txt animated fi">实现公共服务平台与集成解决方案之间的通用性与兼容性及互操作性</li>
					<li class="txt animated fi">鼓励企业参与相关国际标准、国家标准、行业标准制修订工作</li>
				</ul>
			</div>
		</section>
		<section class="page page12" id="11">
			<span class="before animated fi"></span>
			<span class="after animated fi"></span>
			<div class="section-title style animated bil"><div class="wrapper"><i class="animated bil"></i><p class="title animated fi">保障措施</p></div></div>
			<div class="section-content">
				<ul class="animated bil">
					<li class="title"><em>4</em>加强人才保障</li>
					<li class="txt animated fi">联合实训与定向培养,确立产学研互动的人才培养及激励机制</li>
					<li class="txt animated fi">加大社会宣传力度</li>
				</ul>
				<ul class="animated bil">
					<li class="title"><em>5</em>深化交流合作</li>
					<li class="txt animated fi">广泛合作如一些骨干企业</li>
					<li class="txt animated fi">推动产业链上下游合作</li>
					<li class="txt animated fi">加强长三角区域合作交流</li>
				</ul>
			</div>
		</section>
	</div>
</div>
<script src="../js/rem.js"></script>
<script src="../js/jquery-2.0.3.min.js"></script>
<script src="../js/index.js"></script>
</body>
</html>
