<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, width=device-width">
	<meta name="format-detection" content="telephone=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>解读上海市大数据发展实施意见</title>
	<link rel="stylesheet" href="../css/index.css">
</head>
<body>
<div id="wrapper">
	<div id="container">
		<section class="page page1" id="1">
			<div class="wrapper animated fi">
				<div class="page1-title">
					<p class="clearfix title"><em class="animated bid"></em><em class="animated bid"></em></p>
					<em class="subtitle animated bid"></em>
				</div>
				<article class="animated fid">
					<em class="icon animated bi"></em>
					<span class="animated fi">
						为贯彻落实《国务院关于深化制造业与互联网融合发展的指导意见》,协同推进“中国制造2025”和“互联网+”行动,
						积极培育新模式新业态，打造新型制造体系，促进制造业转型升级，推进供给侧结构性改革，提升上海产业竞争力.
					</span>
				</article>
			</div>
			<em class="icon-1 animated infinite pl"></em>
			<em class="icon-2 animated infinite pl"></em>
			<em class="icon-3 animated fi"><em class="animated infinite pl"></em></em>
		</section>
		<section class="page page2" id="2">
			<span class="before animated fi"></span>
			<span class="after animated fi"></span>
			<div class="section-title style animated bil"><div class="wrapper"><i class="animated bil"></i><p class="title animated fi">指导思想</p></div></div>
			<div class="section-content">


				<ul class="animated bid">
					<li class="title">优势</li>
					<li class="subtitle animated fid">发挥上海市发展大数据的优势</li>
					<li class="txt animated fid">数据资源丰富</li>
					<li class="txt animated fid">研究实力雄厚</li>
					<li class="txt animated fid">信息化服务产业集聚</li>
					<li class="txt animated fid">应用基础强、示范强</li>
					<li class="txt animated fid">技术人才汇集</li>
				</ul>
				<ul class="animated bid">
					<li class="title">问题</li>
					<li class="subtitle animated fid">解决上海市大数据发展瓶颈问题</li>
					<li class="txt animated fid">大数据发展支撑体系尚不完善</li>
					<li class="txt animated fid">数据资源开放共享程度需进一步提升</li>
					<li class="txt animated fid">各产业领域的大数据应用尚未形成规模</li>
				</ul>
			</div>
		</section>
		<section class="page page12" id="8">
			<span class="before animated fi"></span>
			<div class="section-title animated bil"><div class="wrapper style"><i class="animated bil"></i><p class="title animated fi">主要任务</p></div></div>
			<div class="section-content">
				<ul class="animated bid">
					<li class="title"><em>1</em>打造“双创”服务平台</li>
					<li class="txt animated fi">协调机制,明确职责分工</li>
					<li class="txt animated fi">深化市实有人口、法人、空间地理等基础数<br>据库建设</li>
					<li class="txt animated fi">加强政府数据服务网建设</li>
				</ul>
				<ul class="animated bid">
					<li class="title"><em>2</em>构建"双创"服务体系</li>
					<li class="txt animated fi">开拓数据采集渠道</li>
					<li class="txt animated fi">支持公益性数据服务机构发展</li>
				</ul>
				<ul class="animated bid">
					<li class="title"><em>3</em>推动企业跨界融合</li>
					<li class="txt animated fi">推动商业数据衍生产品交易</li>
					<li class="txt animated fi">完善对本市各类数据交易平台的监督和指导</li>
					<li class="txt animated fi">鼓励数据交易中介服务业发展</li>
				</ul>
			</div>
		</section>
		<section class="page page12" id="9">
			<span class="before animated fi"></span>
			<div class="section-title animated bil"><div class="wrapper style"><i class="animated bil"></i><p class="title animated fi">主要任务</p></div></div>
			<div class="section-content">
				<ul class="animated bid">
					<li class="title"><em>4</em>培育融合新模式</li>
					<li class="txt animated fi">协调机制,明确职责分工</li>
					<li class="txt animated fi">深化市实有人口、法人、空间地理等基础数<br>据库建设</li>
					<li class="txt animated fi">加强政府数据服务网建设</li>
				</ul>
				<ul class="animated bid">
					<li class="title"><em>5</em>提升综合集成能力</li>
					<li class="txt animated fi">开拓数据采集渠道</li>
					<li class="txt animated fi">支持公益性数据服务机构发展</li>
				</ul>
			</div>
		</section>
		<section class="page page12" id="10">
			<span class="before animated fi"></span>
			<div class="section-title animated bil"><div class="wrapper style"><i class="animated bil"></i><p class="title animated fi">主要任务</p></div></div>
			<div class="section-content">
				<ul class="animated bid">
					<li class="title"><em>6</em>夯实融合发展基础</li>
					<li class="txt animated fi">推进传感器等研发及应用,加快工业软件的产业化</li>
					<li class="txt animated fi">统筹全市工业互联网基础设施建设规划与布局</li>
					<li class="txt animated fi">加强大数据平台等应用基础设施的监管和规划</li>
				</ul>
				<ul class="animated bid">
					<li class="title"><em>7</em>提高工控安全水平</li>
					<li class="txt animated fi">加强制造业与互联网融合信息安全保障的监督和指导</li>
					<li class="txt animated fi">着力提升重点领域制造业与互联网融合安全保障能力</li>
				</ul>
				<ul class="animated bid">
					<li class="title"><em>8</em>加强融合标准引领</li>
					<li class="txt animated fi">广泛开展两化融合评估诊断与对标引导</li>
					<li class="txt animated fi">加速制造业向高端化、智能化、绿色化、服务化转型发展</li>
				</ul>
			</div>
		</section>
		<section class="page page11" id="11">
			<span class="before animated fi"></span>
			<div class="section-title animated bil"><div class="wrapper style"><i class="animated bil"></i><p class="title animated fi">保障措施 </p></div></div>
			<div class="section-content">
				<ul class="animated bid">
					<li class="title"><em>1</em>强化组织保障</li>
					<li class="txt animated fi">协调机制,明确职责分工</li>
					<li class="txt animated fi">充分发挥各行业力量推进互联网行业发展</li>
				</ul>
				<ul class="animated bid">
					<li class="title"><em>2</em>加大政策引导</li>
					<li class="txt animated fi">整合、优化和发挥好产业转型升级</li>
					<li class="txt animated fi">将制造业与互联网融合纳入各类市级产业基金投资范围</li>
					<li class="txt animated fi">鼓励国家级功能性服务平台落户上海</li>
				</ul>
				<ul class="animated bid">
					<li class="title"><em>3</em>完善标准体系</li>
					<li class="txt animated fi">实现公共服务平台与集成解决方案之间的通用性与兼容性及互操作性</li>
					<li class="txt animated fi">鼓励企业参与相关国际标准、国家标准、行业标准制修订工作</li>
				</ul>
			</div>
		</section>
		<section class="page page12" id="12">
			<span class="before animated fi"></span>
			<div class="section-title animated bil"><div class="wrapper style"><i class="animated bil"></i><p class="title animated fi">保障措施 </p></div></div>
			<div class="section-content">
				<ul class="animated bid">
					<li class="title"><em>4</em>加强人才保障</li>
					<li class="txt animated fi">联合实训与定向培养,确立产学研互动的人才培养及激励机制</li>
					<li class="txt animated fi">加大社会宣传力度</li>
				</ul>
				<ul class="animated bid">
					<li class="title"><em>5</em>深化交流合作</li>
					<li class="txt animated fi">广泛合作如一些骨干企业</li>
					<li class="txt animated fi">推动产业链上下游合作</li>
					<li class="txt animated fi">加强长三角区域合作交流</li>
				</ul>
			</div>
		</section>
	</div>
</div>
<script src="../js/rem.js"></script>
<script src="../js/jquery-2.0.3.min.js"></script>
<script src="../js/index.js"></script>
</body>
</html>
